<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Upload CSV</title>
  </head>
  <body>
    <header>
      <h1>Upload CSV</h1>
    </header>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      <label for="csv_file">Choose a CSV file:</label>
      <input type="file" name="csv_file" accept=".csv" />
      <input type="submit" value="Upload and Insert into CRM" />
    </form>
    <div class="messages-container">
      {% for message in success_messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    <div id="footer">
      <p>&copy; 2024 Dzul Jalali Wal Ikram. All rights reserved.</p>
    </div>
  </body>
</html>
